@import "../../../styles/includes.module.scss";

.header_mobile {
    //Display alterado via @media de acordo com o tamanho da página.
    display: none;


    top: 0px;
    position: fixed;
    width: 100%;
    background-color: $color-dark;
    height: auto;
    border-bottom: 2px solid $color-secondary ;
    z-index: 3;

    .header_container {

        text-transform: uppercase;
        font-size: 12px;
        display: flex;
        max-width: $width-container;


        margin: 0 auto;
        height: $height-header-mob;

        figure.bg_logo {
            //border: 2px solid red;
            position: relative;
            width: 110px;
            height: 60px;
            margin-left: 20px;


            img {
                object-fit: contain;
                width: 100%;
            }
        }

        .h_columns {
            display: flex;
            flex-grow: 1;
            align-items: center;

            .sub_h_clmn {
                flex-grow: 1;
                justify-content: flex-end;
                align-items: flex-end;
                display: flex;
                width: 100%;
            }
        }

        #h_column_1 {}

        #h_column_2 {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;


        }


    }
}




@media (max-width: $width-mobile) {

    #header_mobile {
        display: block;
    }


}

@media (min-width: calc($width-mobile + 1px)) {

    #header_mobile {
        display: none;
    }


}