@import "../../styles/includes.module.scss";


.bg_slide_home {

    margin-top: $height-header-desk;
    background: #000 url("/assets/images/blur-slidehome.webp");
    background-size: cover;
    height: auto;
    width: 100%;
    overflow: hidden;
    z-index: 1;

    .slide_home {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.5s ease-in-out;
        max-height: 700px;
        height: 600px;
        top: 0;
        overflow: hidden;
        padding: 0px;



        video {

            max-width: 2048px;
            margin: 0 auto;
            display: block;
            height: auto;
            z-index: -1;
            width: 100%;
            height: 100%;
            object-fit: cover;
            /* Makes the video cover the div without distortion */
            //min-height: 100%;

        }

        .info_slide {
            //opacity: 0;
            transition: all 0.5s ease-in-out;
            overflow: hidden;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            z-index: 1;
            height: auto;
            color: #fff;
            text-align: center;
            overflow: hidden;
            width: 400px;
            // height: 1px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50px 50px 0px 50px;
            padding: 15px 15px;
            background-color: #000000bb;
            // @include border-decorative;
            border: 1px solid #fff;

            h1 {
                color: #fff;
                line-height: 26px;
                margin: 20px 10px;
                font-size: 20px;
                max-width: 100%;
                font-weight: normal;

                strong {
                    font-weight: normal;
                    //text-decoration: underline;
                    color: #00c3ff;
                    text-transform: uppercase;
                    font-size: 18px;

                }

            }

            p {
                color: #ffffff;
                font-size: 16px;
                //  font-weight: bold;
                margin: 0px 0px 20px 0px;
                padding: 0px;
            }

            button,
            a {

                @include button-primary;
                max-width: 160px;
                flex-direction: column;
                border-radius: 0px 0px 8px 8px;
                text-transform: uppercase;
                font-size: 12px;

                /*
                text-decoration: none;
                color: #fff;

                display: block;
                margin: 10px auto;
                padding: 10px 10px 25px 10px;
                background: $color-primary;
                cursor: pointer;
                box-shadow: 0 0.1em 0.1em #333;
*/
                span {
                    display: block;
                    //position: absolute;

                    margin-bottom: -15px;
                    margin-top: -10px;
                    font-size: 40px;
                    // left: 48%;
                    transform: rotate(-90deg);

                }

                &:active {
                    background: darken($color-primary, 10%);
                }
            }
        }

    }
}

@media (max-width:$width-mobile) {
    .bg_slide_home {
        .slide_home {

            .info_slide {
                padding: 15px 0px;
                border-radius: 20px 20px 0px 20px;
                // background-color: #746464;
                max-width: 300px;

                h1 {
                    font-size: 18px;
                    line-height: 28px;
                    margin-bottom: 10px;

                    strong {
                        //font-size: 18px;


                    }
                }

                p {
                    font-size: 14px;
                    line-height: 20px;
                    padding-top: 0px;
                }

            }

        }


    }


}