@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

@import "./normalize.module.scss";
@import "./variables.module.scss";
@import "./mixins.module.scss";



html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
a,
span {
  font-family: "Arimo", sans-serif;
  margin: 0px;
  padding: 0px;
}



body {
  background-color: #ccc;


}

p {
  line-height: 20px;
}

//Menu dos cursos, torna ativo quando a página selecionada.
//Setado dinamicamente, por isso o use global e não local em módulo.
//Usado nas páginas de cursos.
.item_curso_ativo {
  //background-color: $color-secondary !important;
  border: 3px solid $color-primary !important;

  a {
    background-color: $color-primary;
    color: #fff !important;
    font-weight: bold;

    figcaption {
      background-color: $color-primary;
      color: #fff !important;
      font-weight: bold;
    }
  }
}

.pages {
  max-width: $width-content ;
  // overflow: hidden;
  min-height: 100vh;
  margin: 0 auto;
  margin-top: $height-header-desk;
  //padding-top: 20px;

}

.icon {
  width: 15px;
  margin: 0px 7px 0px 5px;
  fill: rgb(255, 255, 255);
  float: left;
}

.container-global {

  min-height: 100vh;
  position: relative;
  padding-bottom: $height-footer;
  //border: 20px solid blue;
  background-color: $color-dark;

}



@media (max-width: $width-mobile) {
  body {
    overflow-x: hidden !important;
  }

  .pages {
    padding-left: 0px;
    padding-right: 0px;

  }

}