$width-mobile: 760px;


$height-header-desk: 60px;
$height-header-mob: 60px;
$height-footer: 240px;
$width-container: 1280px;
$width-content: 1280px;

//Colors
$color-text: #333;
$color-theme: #19191f;
$color-light: #f8f8f8;
$color-dark: #16161d;
$color-primary: #0057da;
$color-secondary: #ff0066;
$color-tertiary: #068651;
$color-link: #064a77;