@import '../../../../../../styles/includes.module.scss';

h3.title {
  //background-color: red;
  text-align: center;
  padding: 20px 0px;
  margin: 0px;
  margin-top: 20px;

}

.embla {
  border-radius: 10px;
  overflow: hidden;
  max-width: 100%;
  border: 1px solid rgb(0, 0, 0);
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 100%;

  background-color: #d0d1d4;


  .embla__viewport {
    overflow: hidden;
    //border: 1px solid rgb(86, 143, 40);

  }

  .embla__container {
    //background-color: rgb(199, 199, 199);
    // background: #ffffff url("/assets/images/cursos/informatica/bg-trilha.png");

    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
  }

  .embla__slide {
    // background-color: rgb(199, 199, 199);
    background: #ffffff url("/assets/images/cursos/informatica/bg-trilha.png");

    transform: translate3d(0, 0, 0);
    //display: flex;
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
    //padding: 20px;
    gap: 20px;
    //padding: 5px;
    //max-width: 90%;
  }


  .embla__slide__number {
    margin: 10px;
    background-color: #f8f8f8;
    box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);

    font-size: 4rem;

    align-items: center;
    justify-content: center;
    min-height: 300px;
    height: calc(100% - 20px);
    user-select: none;
    padding: 20px 40px;
    font-size: 12px;
    //margin: 20px;
    //gap: 100px;

    h2 {
      font-size: 22px;
      width: 100%;
      //background-color: aqua;
      margin: 0px;
      margin-top: 0px;
      //background-color: #153a80;
      padding: 20px 20px 20px 20px;
      text-align: center;
      color: #b1197e;
    }

    h3 {}

    .resumo {
      max-width: 100%;
      display: flex;
      //grid-template-columns: 1fr 1fr;
      margin-bottom: 10px;
      gap: 10px;
      align-content: space-between;
      justify-content: space-between;
      border: 1px solid rgb(29, 29, 29);
      padding: 20px;



      &>div {
        // border: 2px solid red;
        max-width: 600px;
        min-height: 140px;
        // display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;


        p {
          font-size: 13px;
          line-height: 18px;

          // border: 2px solid blue;


        }
      }

      figure {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        //overflow: hidden;
        // border: 1px solid rgb(26, 26, 26);
        // max-width: 200px;
        height: 140px;
        text-align: right;
        //background-color: #daf2fc;
        background-color: #fcf190;
        padding: 5px;

        img {
          //border: 3px solid green;
          //background-color: #c0cdd3;
          width: 300px;
          height: auto;

          object-fit: cover;
          max-height: 100%;
        }
      }
    }

    .c_pragmatico {
      padding: 20px 10px 10px 40px;
      border: 1px solid #111;
      scrollbar-color: #111 #ddd;
      //max-height: 160px;
      height: 160px;
      overflow-y: scroll;

      &>h4 {
        // text-align: center;
        margin-bottom: 20px;
        text-transform: uppercase;
        color: $color-secondary;

      }

      ul {
        display: grid;
        grid-template-columns: repeat(3, auto);
        justify-content: start;

        gap: 5px;

        span {}

        li {
          font-size: 12px;
          margin-right: 50px;

        }
      }

    }

  }



}




.embla__controls {
  background-color: rgb(160, 208, 240);
  display: flex;

  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 15px 10px;
  //margin-top: 1.8rem;
  border-bottom: 1px solid #000;

  &>div {

    padding: 0px;
    display: flex;
    //border: 1px solid red !important;
    justify-content: center;
    flex-wrap: wrap;

    button {
      //border: 1px solid rgb(255, 255, 255) !important;
      // width: 300px !important;
      //max-width: 300px !important;

    }

    ;

    &:active {


      //background-color: yellow;

    }
  }


}

.embla__buttons {
  //border: 3px solid rgb(128, 0, 100) !important;
  min-width: 100px;
  //border: 2px solid red;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
  padding: 5px;


}


.btn_arrow {
  padding: 5px;
  cursor: pointer;
  width: 40px;
  height: 50px;

  svg {
    width: 15px;
    height: 15px;
    color: $color-primary;
    margin: 0px;
    margin-bottom: -2px;

  }
}

//Menu dos módulos
.embla__dot {
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-left: 5px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 2px;
  padding: 10px 6px;
  font-size: 14px;
  margin-bottom: 5px;
  min-width: 100px;
  //transition: background 0.5s;
  background-color: #0253bd;
  color: #fff;

  &:active {


    //background-color: yellow;

  }
}



.embla__dot {}



#embla__dot__selected {

  background-color: #ffe600;
  border-color: #000;
  color: rgb(0, 0, 0) !important;



}



@media (max-width:1120px) {
  .embla__slide__number {

    //background-color: #caf4ff !important;

    .resumo {
      figure {
        img {
          //border: 3px solid rgb(128, 0, 100) !important;
          width: 200px !important;
          height: auto;
        }
      }
    }
  }
}





@media (max-width:960px) {
  .embla {

    .embla__slide__number {
      padding: 10px;



    }

  }


}

@media (max-width:760px) {
  .embla {
    .embla__slide__number {


      .resumo {}

      .c_pragmatico {



        padding: 10px 0px 10px 15px !important;

        ul {


          li {
            padding-right: 20px;
            margin-right: 0px !important;
            font-size: 11px !important;
            margin-bottom: 5px;

          }
        }

      }

    }

  }
}



@media (max-width:700px) {
  .embla {

    background-color: #ffffff !important;



    .embla__slide__number {
      // border: 1px solid rgb(10, 10, 10);
      padding: 5px;
      // background-color: #caf4ff !important;

      .resumo {

        //flex-direction: column !important;
        flex-direction: column-reverse;


        figure {


          img {
            // border: 3px solid rgb(128, 0, 100) !important;

            width: 300px !important;


          }
        }
      }



    }
  }

  .embla__controls {
    background-color: rgb(148, 22, 221);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px !important;

    &>div {
      margin: 0px;
      margin-top: -6px;
      margin-bottom: 5px;
      padding: 0px;
      display: flex;
      //border: 1px solid red !important;
      justify-content: center;
      flex-wrap: wrap;

      button {
        //border: 3px solid rgb(180, 255, 5) !important;
        // width: 300px !important;
        //max-width: 300px !important;

      }

      ;

      &:active {


        //background-color: yellow;

      }
    }

  }

  .btn_arrow {
    display: none;
  }


}


@media (max-width:$width-mobile) {}