@import "../../../styles/includes.module.scss";


#form {

    z-index: 1;
    width: 100%;
    display: block;
    background-color: #fff;
    height: auto;
    margin: 0 auto;
    margin-top: 0PX;
    padding: 20px 40px;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #333;
    max-width: 500px;
    min-width: 360px;

    h4 {
        margin-bottom: 10px;
    }

    div {
        padding: 5px;

    }

    label {
        display: none;
        float: left;
        width: 20%;
    }

    input,
    textarea {
        border-radius: 5px;
        border: 1px solid #222;
        width: 100%;
        padding: 10px 10px;
        font-size: 16px;
        margin: 0 auto;
        margin-bottom: 5px;

    }

    textarea {
        min-height: 100px;
    }

    input[type='submit'],

    button[type="submit"] {
        @include button-primary;
        padding: 20px;
        margin: 20px auto;
        width: 240px;
    }
}


@media (max-width:800px) {

    #form {
        padding: 20px !important;

        margin-top: 20px;
    }
}