@import "../../../../styles/includes.module.scss";


a#btn_display_nav_header {

    @include button-primary;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    overflow: hidden;
    height: auto;
    width: 60px;
    height: 50px;
    margin: 5px 10px;
    @include border-primary;

    svg {
        width: 50px;
        height: 40px;

    }

}

#nav_header_mobile {
    position: absolute;
    background-color: rgb(0, 0, 0);

    height: 100px;
    width: 100%;
    top: $height-header-mob;
    padding: 0px;
    transition: all 0.8s;
    opacity: 1;
    overflow: hidden;
    border-bottom: 1px solid $color-secondary ;
    border-top: 1px solid $color-secondary ;


    ul {
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow-y: scroll;
        padding-bottom: 60px;
        max-height: 90%;
        scrollbar-color: #747474 #050505;


        //background-color: aquamarine;
        //border: 5px solid rgb(0, 255, 98);

        h3 {
            text-align: center;
            color: #999;
        }

        li {

            display: flex;
            // align-items: center;

            a {
                // border-radius: 15px 0px 0px 0px;

                //transition: color 0.2s;
                cursor: pointer;
                user-select: none;
                min-width: 85px;
                display: flex;
                align-items: center;
                // justify-content: center;
                background-color: rgb(14, 14, 14);
                text-decoration: none;
                padding: 15px;
                font-size: 12px;
                color: $color-light;
                width: 100%;

                .icon {
                    //background-color: red;
                    width: 20px;

                    height: 20px;
                    margin-right: 10px;
                    color: $color-secondary !important;
                    // fill: red !important;
                }

                &:hover {
                    //background-color: #345bdb !important;
                    background-color: $color-primary !important;
                    // color: $color-dark;
                }

            }

            &:hover {
                background-color: #161616;
            }
        }

        li:nth-child(even) {
            a {
                background-color: #101012;
            }
        }

        .li_cursos {
            background-color: $color-dark !important;
            border: 2px solid $color-primary;
            overflow-y: scroll;
            scrollbar-color: #575757 #050505;

            min-height: 340px;
            // padding-bottom: 40px;
        }
    }

    #menu_mobile {}

}

.open_menu_mobile {

    color: red !important;
    height: 100vh;

}

.teste {

    color: red !important;
    height: 100vh;

}