@import "../../styles/includes.module.scss";

#footer {
    overflow: hidden;
    position: absolute;
    bottom: 0px;
    background: $color-dark;
    max-width: 100%;
    width: 100%;
    height: auto;
    clear: both;
    border-top: 5px solid $color-secondary;
    z-index: 9;

    #footer_container {
        display: flex;
        overflow: hidden;
        font-size: 14px;
        height: $height-footer;
        flex-grow: 1;
        padding: 40px 0px;
        max-width: $width-content;
        margin: 0 auto;
        flex-direction: row;

        .clmn_footer {
            // border: 1px solid #008cff;
            padding: 20px;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            //border: 1px solid red;



            p {
                display: flex;
                margin-top: 0px;
                margin-bottom: 15px;
                font-size: 18px;
                color: #999;

                a {
                    color: #0099ff;

                    &:hover {
                        color: #008cff;
                    }
                }

                .icon {
                    width: 15px;
                    float: left;
                    margin: 0px 7px 0px 5px;
                    fill: #999;
                }



                img {
                    width: 15px;
                }

                .facebook {
                    fill: rgb(255, 255, 255);
                }

                .whatsapp {
                    fill: rgb(41, 213, 41);
                    float: right;
                }
            }



        }

        .clmn_f_2 {
            align-items: flex-end;
        }

    }

    @media (max-width: 1300px) {
        #footer_continer {
            padding-top: 30px;
            padding-left: 50px;
            padding-right: 50px;
            padding-bottom: 50px;

            p {
                margin-bottom: 10px;
            }
        }
    }
}



@media (max-width: $width-mobile) {
    #footer {


        #footer_container {
            flex-direction: column;
            height: auto !important;
            padding: 20px 0px;

            .clmn_footer {
                padding: 0px 20px !important;
                margin: 0px !important;
                justify-content: center;
                align-items: center;

                p {
                    line-height: 20px;
                    font-size: 16px;
                }
            }

        }


    }
}