@import "../../styles/includes.module.scss";

.sobre {


  background: #000 url('/assets/images/foto-painel-de-alunos.webp');
  clear: both;
  width: 100%;
  margin: 0px;
  min-height: 500px;
  height: auto;

  #content {
    background-color: #ffffff88;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    max-width: $width-content;
    margin: 0 auto;
    padding-bottom: 80px;

    align-items: center;

    &>div {
      min-width: 500px;

      h1 {
        @include h1;
        color: #111;
        margin-bottom: 0px;
        background-color: transparent;


      }

      p {
        background-color: #ffffffdd;
        font-size: 16px;
        padding: 10px 20px 10px 100px;
        line-height: 22px;
        margin: 0px;

        border-radius: 10px;

        a {
          cursor: pointer;
          font-weight: bold;
          text-decoration: underline;
          white-space: nowrap;
        }
      }

      /*
  p:nth-child(2){ background-color: #9999ff33;}
  p:nth-child(3){ background-color: #f9000022;}
  p:nth-child(4){ background-color: #00ff9933;}
  */
      p:last-child {
        background-color: #ffff0066;
        padding-bottom: 20px;
      }

    }

    figure {


      max-width: 300px;

      // background-color: #ffffffaa;
      border-radius: 5px;
      //border: 1px solid red;
      text-align: right;

      img {
        width: 100%;
        height: auto;
        object-fit: contain;

      }

    }
  }
}

@media (max-width: 860px) {
  .sobre {


    #content {
      grid-template-columns: 1fr;

      div {
        min-width: 100%;

        p {
          padding: 15px;
          max-width: 600px;
          margin: 0 auto;
        }
      }

      figure {
        margin: 0 auto;
        width: 300px !important;
        text-align: center;
        padding: 0px;

        img {
          object-fit: contain;
        }
      }
    }

    h1 {
      margin-top: 20px;
      margin-bottom: 20px;

      text-align: center;
    }
  }
}

@media (max-width: 560px) {
  .sobre {
    #content {
      div {
        p {
          text-align: center;
        }
      }
    }
  }
}