@import "../../styles/includes.module.scss";

.contato {
    //background-color: $color-dark;
    padding: 40px 0px;

    .icon {
        width: 15px;
        margin: 0px 7px -2px 0px;
    }

    .content {
        max-width: $width-content;
        min-height: 300px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;

        position: relative;
        background: #fff;
        background: #fff url("/assets/images/bg_email.png") no-repeat;
        background-size: contain;
        background-position: 50px 260px;
        padding-bottom: 60px;


        h1 {
            @include h1;
            background-color: transparent;
            margin-bottom: 0px;
            text-transform: uppercase;
            font-weight: bold;
            padding-top: 40px;
            padding-bottom: 40px;
            margin-bottom: 40px;
            border-bottom: 1px solid #333;
            font-size: 32px;
            color: $color-primary;

            // background-color: #f80;
            svg {
                width: 50px;
                height: 50px;
                margin-left: 20px;
                margin-right: 20px;
            }

        }




        .block_content {
            width: 100%;
            display: flex;
            flex-direction: row;

            //background-color: aqua;

            p {
                margin: 0px;
                padding: 6px;
            }

            .clmn_block:nth-child(1) {
                max-width: 50%;
            }

            .clmn_block {

                padding: 0px 0px;
                //border: 1px solid red;
                flex-grow: 1;
                min-height: 200px;

                .row {
                    // border: 1px solid rgb(29, 0, 0);
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    overflow: hidden;
                    height: auto;
                    min-height: 100px;
                    justify-content: center;
                    align-items: center;
                    padding: 10px 60px;
                    flex-direction: column;

                    .txt_redes_sociais {
                        top: 0%;
                        text-align: center;
                        margin-top: 10px;
                        margin-bottom: 0px;
                        color: $color-primary;
                        position: absolute;
                        left: 50%;
                        transform: translate(-50%);

                        //left: 50%;
                        //transform: translate(-50%, -50%);
                    }

                    .clmn {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 5px;
                        //  border: 1px solid orange;
                        // max-width: 50%;


                        flex-grow: 1;
                    }

                    .btn_redesocial {

                        min-height: 50px;
                        font-size: 16px;
                        font-weight: normal;
                    }

                    .btn_whatsapp {
                        @include button-whatsapp;

                    }

                    .btn_facebook {
                        @include button-facebook;
                        background-color: #111;
                    }

                    .btn_instagram {
                        @include button-instagram;
                        background-color: #111;

                    }

                    p {
                        width: 100%;

                        .span_telefone {
                            white-space: nowrap;
                            font-weight: bold;
                            font-size: 18px;
                            padding-top: 0px;
                            line-height: 22px;
                        }
                    }

                    .bg_map {
                        background-color: #111;
                        width: 100%;
                        padding: 20px;
                        display: flex;
                        justify-content: space-between;
                        margin-top: 20px;
                        align-items: center;
                        overflow: hidden;
                        gap: 20px;

                        figure {
                            height: 100%;
                            //background-color: $color-secondary;
                            //padding: 10px;
                            display: flex;
                            max-width: 40%;


                            img {
                                width: 100%;
                                height: 100%;
                                border-radius: 30px 0px 30px 0px;
                            }
                        }

                        iframe {
                            display: block;
                            max-width: 100%;
                            height: 200px;
                        }
                    }
                }


                .row:nth-child(1) {
                    background-color: rgba(148, 226, 200, 0.247);
                    text-align: center;

                }

                .row:nth-child(2) {
                    background-color: rgba(148, 169, 226, 0.247);
                    flex-direction: row;
                    padding-top: 40px;
                }

                .row:nth-child(3) {
                    background-color: rgba(131, 157, 214, 0.37);
                    line-height: 12px;
                    font-size: 16px;



                }

            }


        }
    }


}


@media (max-width:1100px) {

    .contato {


        .content {
            .block_content {


                h4 {

                    margin-bottom: 10px;
                    margin-top: 0px;
                    flex-basis: 100%
                }

                .clmn_block {
                    //padding: 60px 20px;

                    .row {
                        flex-direction: column;
                        padding: 20px 20px;
                        flex-wrap: wrap;

                        .clmn {
                            text-align: center;
                            max-width: 100%;

                        }
                    }
                }

                .clmn_block:nth-child(2) {

                    padding: 0px 20px;
                }


            }

        }

    }

}


@media (max-width:760px) {

    .contato {


        .content {
            .block_content {
                flex-direction: column;

                .clmn_block:nth-child(1) {

                    max-width: 100%;
                }


                h4 {


                    font-size: 16px !important;
                    margin-bottom: 20px;


                }

            }

        }

    }

}

@media (max-width:$width-mobile) {

    .contato {
        padding-top: 0px;
        margin-top: 0px;


        .content {

            margin-top: 0px;
            background-color: #e2f1ff;


            h1 {
                font-size: 20px;
                font-weight: bold;
                background-color: transparent;
                margin-bottom: 0px;
                //background-color: #111 !important;

                text-transform: uppercase;


            }

            .block_content {
                padding: 0px;
                flex-direction: column;

                .clmn_block {
                    padding: 5px 20px;

                    .row {
                        background-color: transparent !important;

                        // padding: 0px !important;
                        .btn_redesocial {
                            min-height: 50px;
                            font-size: 14px;
                            min-width: 120px;
                        }

                    }

                    h4 {}

                    .row:nth-child(2) {

                        padding-top: 60px;


                        ;
                    }

                }
            }

        }

    }

}